<%- include('header'); %>

<h2>This is an about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus pariatur enim corrupti minima doloremque, dolorem consequuntur vel fugiat unde dolorum minus temporibus culpa officia nemo porro sunt labore. Ab cumque enim quisquam eligendi consequuntur! Et necessitatibus similique in officiis, excepturi sed quis soluta quod eos odit illum? At, quia doloribus.</p>

<%- include('footer'); %>